body {
    background-color: #fff;
    background-image: url(../img/hip-square.png);
}
.logo {
    width: 5rem;
    left: 1rem;
    top: 2rem;
    position: absolute;
    @include breakpoint(large) {
        width: 9rem;
        left: -0.5rem;
        top: 3rem;
    }
}
.nav-wrap {
    img {
        vertical-align: top;
    }
    padding: 6rem 4rem 3rem 4rem;
    .cell-art { 
        width: 36.4%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_01.png);
        }
    }
    .cell-music-food { 
        width: 25.6%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
        }
    }
    .cell-food {
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_02.png);
        }
    }
    .cell-music {
        &:hover{
            background-size: contain;
            background-image: url(../img/nav/nav_over_04.png);
        }
    }
    .cell-living { 
        width: 38%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_03.png);
        }
    }
    .cell-rec { 
        width: 55.7%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_05.png);
        }
    }
    .cell-features { 
        width: 44.3%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_06.png);
        }
    }
    @include breakpoint(small down) {
        .grid-x { max-width: 200px; margin: 0 auto; }
        .cell-art { width: 100%; }
        .cell-music-food { width: 100%; }
        .cell-living { width: 100%; }
        .cell-rec { width: 100%; }
        .cell-features { width: 100%; }
    }
}

#intro {
    min-height: 700px;
    background-image: url(../img/map_texas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
}