body {
    background-color: #fff;
    background-image: url(../img/hip-square-fs8.png);
}
.logo {
    width: 5rem;
    left: 1rem;
    top: 2rem;
    position: absolute;
    @include breakpoint(large) {
        width: 9rem;
        left: -0.5rem;
        top: 1rem;
    }
}
.nav-wrap {
    img {
        vertical-align: top;
    }
    padding: 4rem 4rem 3rem 4rem;
    .cell-art { 
        width: 36.4%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_01-fs8.png);
        }
    }
    .cell-music-food { 
        width: 25.6%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
        }
    }
    .cell-food {
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_02-fs8.png);
        }
    }
    .cell-music {
        &:hover{
            background-size: contain;
            background-image: url(../img/nav/nav_over_04-fs8.png);
        }
    }
    .cell-living { 
        width: 38%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_03-fs8.png);
        }
    }
    .cell-rec { 
        width: 55.7%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_05-fs8.png);
        }
    }
    .cell-features { 
        width: 44.3%;
        background-repeat: no-repeat;
        &:hover {
            background-size: contain;
            background-image: url(../img/nav/nav_over_06-fs8.png);
        }
    }
    @include breakpoint(small down) {
        .grid-x { max-width: 200px; margin: 0 auto; }
        .cell-art { width: 100%; }
        .cell-music-food { width: 100%; }
        .cell-living { width: 100%; }
        .cell-rec { width: 100%; }
        .cell-features { width: 100%; }
    }
}

#intro {
    min-height: 700px;
    background-image: url(../img/map_texas-fs8.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 3rem;
    @include breakpoint(small down) {
        background-size: 200%;
    }
}

#calendar {
    margin-top: 3rem;
    table {
        border: 0;
        border-top: 2px solid #111;
        thead {
            background-color: rgba(255, 255, 255, 0.7);
            border: 0;
            @include breakpoint(small down) {
                display: none;
            }
        }
        tbody {
            background-color: transparent;
            tr:nth-child(2n) {
                background-color: rgba(225, 225, 225, 0.1);
                @include breakpoint(small down) {
                    background-color: transparent;
                }
            }
        }
        tr {
            @include breakpoint(small down) {
                display: block;
                width: 100%;
            }
        }
        th {
            text-align: center;
            border-bottom: 1px solid #999;
        }
        th, td {
            width: 14.285%;
        }
        td {
            height: 10rem;
            position: relative;
            // border-left: 1px solid rgba(0, 0, 0, 0.2);
            // background-color: rgba(255, 255, 255, 0.6);
            @include breakpoint(small down) {
                display: block;
                width: 100%;
                height: 3rem;
                border-left: 0;
            }
            .day-number {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
            }
        }
    }
}

h2.lined {
    display: inline-block;
    border-bottom: 1px dashed #111;
}